@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&display=swap');

:root {
  --color-one: #1B2026;
  --color-two: #F7D9C4;
  --color-text: #917777;

  --font: 'DM Sans', sans-serif;
}

body {
  font-family: var(--font);
  color: var(--color-text);
}

* {
  box-sizing: border-box;
}

a {
  color: var(--color-text);
  display: inline-block;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

ul {
  margin: 0;
  padding-left: 0;
  display: flex;
}

li {
  list-style: none;
}